<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>网上买鞋子哪个网站好？上好乐买网上鞋城，正品鞋购物网站-好乐买官网</title>
		<link rel="stylesheet" type="text/css" href="../../styles/pages/home/home.css"/>
		
	</head>
	<script src="../../static/scripts/require.js" data-main="home.js" type="text/javascript" charset="utf-8"></script>

	<body>
		<div class="top">
			<div>
				<a class="top_1" href="#"></a>
				<a class="top_2" href="#"></a>
			</div>
		</div>
		<div class="header">
			<div class="header_t">
				<div class="w1200">
					<div class="tinfo fr">
						<span class="tinfo_unlogin fl">
							<a href="#" class="myhome"></a>
							<a href="http://localhost:9999/pages/home/home.html" class="exit">退出</a>
						</span>
						<span class="fl">
							<a href="http://localhost:9999/pages/login/login.html">登录</a><i class="line">|</i>
							<a href="http://localhost:9999/pages/login/register.html">注册</a>
						</span>						
						<div class="nav">
							<a href="#">我的好乐买</a>
							<span></span>
							<div class="navinfobtm">
								<p><a href="#">我的订单</a></p>
								<p><a href="#">我的收藏</a></p>
								<p><a href="#">我的优惠券</a></p>
							</div>
						</div>
						<i>|</i>	
						<div class="nav">
							手机好乐买
							<span></span>
							<div class="navinfobtm">
								<img src="http://localhost:9999/picture/appqcode_2.png"><br>下载客户端
							</div>
						</div>
						<i>|</i>
						<div class="nav">
							关注好乐买
							<span></span>
							<div class="navinfobtm">
								<img src="http://localhost:9999/picture/weixinqcode.png"><br>微信公众号	
							</div>
						</div>
						<i>|</i>
						<div class="nav">
							<a href="">客户服务</a>
							<span></span>
							<div class="navinfobtm">
								<p><a href="#" target="_bank">联系客服</a></p>
								<p><a href="#" target="_bank">帮助中心</a></p>
								<p><a href="#" rel="nofollow" target="_bank">意见建议</a></p>
							</div>
						</div>									
						<i>|</i>
						<div class="nav">
							公告
							<span></span>
							<div id="noticeList" class="noticeList">
								<div class="noticeList_list"></div>
							</div>
						</div>		
					</div>
				</div>
			</div>
			<div class="header_c">
				<div class="w1200">
					<h1><a href=""><img src="http://localhost:9999/picture/logo.png" alt=""></a></h1>
					<form class="search" name="topsearchform" id="topsearchform" action="/search" method="get" > 
						<input type="text"data-default="春季新品" class="searching" id="id_top_key" value="春季新品" name="top_key">
						<input type="button" class="searchBtn" id="searchBtn" title="搜索" value="">
						<label class="top_key_label" for="id_top_key"></label>
						<input type="hidden" name="ref" value="input"/>
					</form>
					<span class="hotWords">
						<a href="http://www.okbuy.com/clothes/397" data-ref="i_hotkey" target="_blank">T恤</a>
						<a href="http://www.okbuy.com/brand/crocs" data-ref="i_hotkey" target="_blank">卡骆驰</a>
						<a href="http://www.okbuy.com/brand/skechers" data-ref="i_hotkey" target="_blank">斯凯奇</a>
						<a href="http://www.okbuy.com/brand/metersbonwe" data-ref="i_hotkey" target="_blank">美特斯邦威</a>
						<a href="http://www.okbuy.com/shoe/276-brv2" data-ref="i_hotkey" target="_blank">Adidas童鞋</a>
						<a href="http://www.okbuy.com/brand/lee?category=67" data-ref="i_hotkey" target="_blank">LEE</a>
						<a href="http://www.okbuy.com/accessory/618" data-ref="i_hotkey" target="_blank">美妆个护</a>
					</span>
					<div id="topsuggest" class="ac_results"></div>
					<a href="http://localhost:9999/pages/list/cart.html" class="cart" rel="nofollow">
						<span>
								去购物车结算<b>(0)</b>
							</span>
					</a>
				</div>
			</div>

			<div class="header_b">
				<div class="w1200">
					<!--导航栏头部-->
					<ul class="wrap">
						<li><a href="#" class="wrap_sy">首页</a></li>
						<li><a href="http://www.okbuy.com/outlets" class="wrap_tm"></a></li>
						<li class="hassub"><a href="http://www.okbuy.com/sport" class="sport_1">运动生活</a></li>
						<li class="hassub"><a href="http://www.okbuy.com/outdoor" class="cloth_2">休闲服饰</a></li>
						<li class="hassub"><a href="http://www.okbuy.com/nannvxie" class="shoes_3">男女名鞋</a></li>
						<li class="hassub"><a href="http://www.okbuy.com/global" style="width:130px" class="globa_4 "><img src="../../picture/7de29d4226bbf3855eb7eca34a680cc5.gif" alt="好乐买全球购穿得起的国外货" width="38" height="38" >全球购</a></li>
						<li><a href="http://www.okbuy.com/act/home" class="wrap_home">家居包配</a></li>
					</ul>

					<!--运动生活start-->
					<div class="wrapsub close wrapsub1">
						<s class="wraparr" style="left: 264px;">◆</s>
						<div class="wrapmain">
							<!--第一列start-->
							<div class="colbox">
								<h3>品类导购</h3>
								<div class="catewrap" style="width:360px;">
									<h3 class="black">运动鞋</h3>
									<p class="context">
										<a href="http://www.okbuy.com/shoe/49" target="_blank">跑步鞋</a>
										<a href="http://www.okbuy.com/shoe/62" target="_blank">复古鞋</a>
										<a href="http://www.okbuy.com/shoe/319" target="_blank">休闲鞋</a>
										<a href="http://www.okbuy.com/shoe/57" target="_blank">帆布鞋</a>
										<a href="http://www.okbuy.com/shoe/55" target="_blank">板鞋</a>
										<a href="http://www.okbuy.com/shoe/55" target="_blank">运动生活系列</a>
										<a href="http://www.okbuy.com/shoe/65" target="_blank">滑板鞋</a>
										<a href="http://www.okbuy.com/shoe/52" target="_blank">篮球鞋</a>
										<a href="http://www.okbuy.com/shoe/56" target="_blank">凉鞋/凉拖</a>
										<a href="http://www.okbuy.com/shoe/316" target="_blank">健步鞋</a>
										<a href="http://www.okbuy.com/shoe/53" target="_blank">足球鞋</a>
										<a href="http://www.okbuy.com/shoe/51" target="_blank">羽毛球鞋</a>
										<a href="http://www.okbuy.com/shoe/54" target="_blank">网球鞋</a>
										<a href="http://www.okbuy.com/shoe/58" target="_blank">乒乓球鞋</a>
									</p>
								</div>
								<div class="catewrap" style="width:360px;">
									<h3 class="black">运动服</h3>
									<p class="context">
										<a class="cateitem" href="http://www.okbuy.com/clothes/401" target="_blank">夹克/外套</a>
										<a class="cateitem" href="http://www.okbuy.com/clothes/400" target="_blank">卫衣</a>
										<a class="cateitem" href="http://www.okbuy.com/clothes/71" target="_blank">棉服</a>
										<a class="cateitem" href="http://www.okbuy.com/clothes/398" target="_blank">羽绒服</a>
										<a class="cateitem" href="http://www.okbuy.com/clothes/313" target="_blank">长裤</a>
										<a class="cateitem" href="http://www.okbuy.com/clothes/399" target="_blank">马甲</a>
										<a class="cateitem" href="http://www.okbuy.com/clothes/397" target="_blank">T恤</a>
										<a class="cateitem" href="http://www.okbuy.com/clothes/396" target="_blank">POLO</a>
										<a class="cateitem" href="http://www.okbuy.com/clothes/384" target="_blank">胸衣</a>
										<a class="cateitem" href="http://www.okbuy.com/clothes/72" target="_blank">背心</a>
										<a class="cateitem" href="http://www.okbuy.com/clothes/312" target="_blank">短裤</a>
										<a class="cateitem" href="http://www.okbuy.com/clothes/388" target="_blank">裙装</a>
										<a class="cateitem" href="http://www.okbuy.com/clothes/402" target="_blank">套装</a>
									</p>
								</div>
								<div class="catewrap" style="width:360px;">
									<h3 class="black">儿童专区</h3>
									<p class="context">
										<a href="http://www.okbuy.com/shoe/285" target="_blank">运动鞋</a>
										<a href="http://www.okbuy.com/shoe/282" target="_blank">休闲鞋</a>
										<a href="http://www.okbuy.com/shoe/427" target="_blank">跑步鞋</a>
										<a href="http://www.okbuy.com/shoe/428" target="_blank">篮球鞋</a>
										<a href="http://www.okbuy.com/shoe/283" target="_blank">童靴</a>
										<a href="http://www.okbuy.com/clothes/286" target="_blank">童装</a>
									</p>
								</div>
								<div class="catewrap" style="width:360px;">
									<h3 class="black">运动周边</h3>
									<p class="context">
										<a href="http://www.okbuy.com/search?top_key=%E8%A2%9C%E5%AD%90&ref=input" target="_blank">袜子</a>
										<a href="http://www.okbuy.com/search?top_key=%E5%B8%BD%E5%AD%90&category_second_id=305" target="_blank">帽子</a>
										<a href="http://www.okbuy.com/accessory/95" target="_blank">护具</a>
										<a href="http://www.okbuy.com/accessory/340" target="_blank">球类</a>
										<a href="http://www.okbuy.com/accessory/393" target="_blank">泳具</a>
										<a href="http://www.okbuy.com/search?top_key=%E7%90%83%E6%8B%8D" target="_blank">球拍</a>
										<a href="http://www.okbuy.com/search?top_key=%E8%BF%90%E5%8A%A8%E5%8C%85&ref=input" target="_blank">运动休闲包</a>
									</p>
								</div>
							</div>
							<!--第一列end-->
							<!--第二列start-->
							<div class="colbox">
								<h3>运动导购</h3>
								<div class="catewrap catewidth" style="width:450px;">
									<h3 class="black">初夏换新装</h3>
									<div class="context">
										<a href="http://www.okbuy.com/clothes/397/else-ordv3-34v534" target="_blank">T恤</a>
										<a href="http://www.okbuy.com/search?top_key=%E5%A4%96%E5%A5%97&sort=sale_date_desc&category_second_id=70" target="_blank">外套</a>
										<a href="http://www.okbuy.com/search?top_key=%E5%B0%8F%E8%84%9A&sort=sale_date_desc&category_third_id=313" target="_blank">收腿运动裤</a>
										<a href="http://www.okbuy.com/search?top_key=superstar&category_second_id=48" target="_blank">贝壳头</a>
										<a href="http://www.okbuy.com/search?top_key=%E5%B0%8F%E6%A4%B0%E5%AD%90&category_second_id=48" target="_blank">小椰子</a>
										<a href="http://www.okbuy.com/search?top_key=air+max&brand_id=1&category_second_id=48" target="_blank">AIR MAX</a>
										<a href="http://www.okbuy.com/shoe/48/else-ordv3" target="_blank">最新鞋款</a>
									</div>
								</div>
					
								<div class="catewrap catewidth" style="width:450px;">
									<h3 class="black">跑步运动</h3>
									<div class="context">
										<a href="http://www.okbuy.com/shoe/49/else-ordv3" target="_blank">跑步鞋品</a>
										<a href="http://www.okbuy.com/search?top_key=boost&sort=sale_date_desc&brand_id=2&category_third_id=49" target="_blank">BOOST</a>
										<a href="http://www.okbuy.com/search?top_key=ZOOM&sort=sale_date_desc&category_third_id=49" target="_blank">ZOOM</a>
										<a href="http://www.okbuy.com/search?top_key=free&sort=sale_date_desc&category_third_id=49" target="_blank">Free</a>
										<a href="http://www.okbuy.com/search?top_key=lunar&sort=sale_date_desc&category_third_id=49" target="_blank">Lunar</a>
										<a href="http://www.okbuy.com/search?top_key=%E5%BC%A7&sort=sale_date_desc&category_third_id=49" target="_blank">李宁弧</a>
										<a href="http://www.okbuy.com/search?top_key=%E4%BA%91&sort=sale_date_desc&category_third_id=49" target="_blank">李宁云</a>
										<div class="OB_clearB"></div>
										<a href="http://www.okbuy.com/search?top_key=%E7%9F%AD%E8%A2%96+%E9%80%8F%E6%B0%94&sort=sale_date_desc&category_second_id=70" target="_blank">T恤/POLO</a>
										<a href="http://www.okbuy.com/clothes/401" target="_blank">茄克/外套</a>
										<a href="http://www.okbuy.com/search?top_key=%E8%83%B8%E8%A1%A3&category_third_id=384" target="_blank">胸衣</a>
										<a href="http://www.okbuy.com/search?top_key=%E9%A9%AC%E7%94%B2&category_second_id=70" target="_blank">保暖马甲</a>
										<div class="OB_clearB"></div>
										<a href="http://www.okbuy.com/clothes/313" target="_blank">跑步裤装</a>
										<a href="http://www.okbuy.com/search?top_key=%E6%94%B6%E8%85%BF&category_third_id=313" target="_blank">长裤</a>
										<a href="http://www.okbuy.com/search?top_key=%E8%BF%90%E5%8A%A8&category_third_id=312" target="_blank">短裤</a>
										<a href="http://www.okbuy.com/search?top_key=%E7%B4%A7%E8%BA%AB+%E8%A3%A4&category_second_id=70" target="_blank">紧身/打底裤</a>
					
									</div>
								</div>
								<div class="catewrap catewidth" style="width:450px;">
									<h3 class="black">球类运动</h3>
									<div class="context">
										<a href="http://www.okbuy.com/search?top_key=%E7%AF%AE%E7%90%83&ref=input" target="_blank">篮球系列</a>
										<a href="http://www.okbuy.com/shoe/52" target="_blank">球鞋</a>
										<a href="http://www.okbuy.com/search?top_key=%E7%AF%AE%E7%90%83%E8%83%8C%E5%BF%83&category_second_id=70" target="_blank">背心</a>
										<a href="http://www.okbuy.com/search?top_key=%E7%AF%AE%E7%90%83&category_third_id=312" target="_blank">短裤</a>
										<a href="http://www.okbuy.com/search?top_key=%E7%AF%AE%E7%90%83&category_third_id=402" target="_blank">套装</a>
										<a href="http://www.okbuy.com/search?top_key=%E6%8A%A4%E5%85%B7&brand_id=1%2C4%2C1079%2C2" target="_blank">护具</a>
										<div class="OB_clearB"></div>
										<a href="http://www.okbuy.com/search?top_key=%E8%B6%B3%E7%90%83&ref=input" target="_blank">足球系列</a>
										<a href="http://www.okbuy.com/search?top_key=%E8%B6%B3%E7%90%83&category_first_id=47" target="_blank">球鞋</a>
										<a href="http://www.okbuy.com/search?top_key=%E8%B6%B3%E7%90%83&category_first_id=67" target="_blank">服装</a>
										<a href="http://www.okbuy.com/search?top_key=%E8%B6%B3%E7%90%83&category_second_id=89" target="_blank">配件</a>
										<a href="http://www.okbuy.com/search?top_key=%E6%8A%A4%E5%85%B7&brand_id=1%2C4%2C1079%2C2" target="_blank">护具</a>
										<div class="OB_clearB"></div>
										<a href="http://www.okbuy.com/brand/yonex" target="_blank">羽毛球系列</a>
										<a href="http://www.okbuy.com/shoe/51" target="_blank">球鞋</a>
										<a href="http://www.okbuy.com/search?top_key=%E7%BE%BD%E6%AF%9B%E7%90%83%E6%9C%8D%E8%A3%85&category_second_id=70" target="_blank">服装</a>
										<a href="http://www.okbuy.com/search?top_key=%E7%BE%BD%E6%AF%9B%E7%90%83%E5%8C%85&category_first_id=68" target="_blank">球包</a>
										<a href="http://www.okbuy.com/search?top_key=%E6%8B%8D&sort=sale_date_desc&category_second_id=89" target="_blank">球拍</a>
									</div>
								</div>
								<div class="catewrap catewidth" style="width:450px;">
									<h3 class="black">健身/瑜伽/游泳</h3>
									<div class="context">
										<a href="http://www.okbuy.com/clothes/384" target="_blank">胸衣</a>
										<a href="http://www.okbuy.com/search?top_key=紧身&category_third_id=313" target="_blank">紧身裤（长）</a>
										<a href="http://www.okbuy.com/search?top_key=%E7%B4%A7%E8%BA%AB&category_third_id=312" target="_blank">紧身裤（中/短）</a>
										<a href="http://www.okbuy.com/shoe/50" target="_blank">综训鞋</a>
										<a href="http://www.okbuy.com/search?top_key=%E7%91%9C%E4%BC%BD&category_second_id=70" target="_blank">瑜伽服</a>
										<a href="http://www.okbuy.com/clothes/328/else-ordv3" target="_blank">泳装</a>
										<a href="http://www.okbuy.com/accessory/393" target="_blank">泳具</a>
									</div>
								</div>
							</div>
							<!--第二列end-->
							<!--最后列start-->
							<div class="colBrand">
								<h3>品牌导购</h3>
								<img src="../../picture/89d23277783c606c3835ec7833c80c5f.png" width="242" height="349" border="0" usemap="#MapYunDong" />
								<map name="MapYunDong" id="MapYunDong">	
									<area shape="rect" coords="89,97,151,136" href="http://www.okbuy.com/brand/converse" target="_blank" />
									<area shape="rect" coords="7,97,65,131" href="http://www.okbuy.com/brand/adidas%20neo" target="_blank" />
									<area shape="rect" coords="164,97,230,133" href="http://www.okbuy.com/brand/mizuno" target="_blank" />
									<area shape="rect" coords="6,49,64,89" href="http://www.okbuy.com/brand/adidas%20originals" target="_blank" />
									<area shape="rect" coords="86,51,150,89" href="http://www.okbuy.com/brand/puma" target="_blank" />
		
									<area shape="rect" coords="160,48,231,86" href="http://www.okbuy.com/brand/new%20balance" target="_blank" />
									<area shape="rect" coords="162,5,229,43" href="http://www.okbuy.com/brand/lining" target="_blank" />
									<area shape="rect" coords="87,3,141,38" href="http://www.okbuy.com/brand/adidas" target="_blank" />
									<area shape="rect" coords="6,4,61,40" href="http://www.okbuy.com/brand/nike" target="_blank" />
									<area shape="rect" coords="10,142,65,174" href="http://www.okbuy.com/brand/onitsuka+tiger" target="_blank" />
									<area shape="rect" coords="93,145,152,184" href="http://www.okbuy.com/brand/skechers%20sport" target="_blank" />
									<area shape="rect" coords="166,144,229,180" href="http://www.okbuy.com/brand/anta" target="_blank" />
									<area shape="rect" coords="7,187,68,221" href="http://www.okbuy.com/brand/pony" target="_blank" />
									<area shape="rect" coords="90,192,154,224" href="http://www.okbuy.com/brand/vans" target="_blank" />
									<area shape="rect" coords="166,191,230,226" href="http://www.okbuy.com/brand/asics" target="_blank" />
									<area shape="rect" coords="7,229,67,266" href="http://www.okbuy.com/brand/k-bird" target="_blank" />
									<area shape="rect" coords="89,234,158,265" href="http://www.okbuy.com/brand/vansydical" target="_blank" />
									<area shape="rect" coords="168,233,227,271" href="http://www.okbuy.com/brand/qiaodan" target="_blank" />
									<area shape="rect" coords="6,277,66,307" href="http://www.okbuy.com/brand/deerway" target="_blank" />
									<area shape="rect" coords="91,270,159,310" href="http://www.okbuy.com/brand/abc" target="_blank" />
									<area shape="rect" coords="167,282,232,311" href="http://www.okbuy.com/brand/hongxingerke" target="_blank" />
									<area shape="rect" coords="2,314,64,342" href="http://www.okbuy.com/brand/dc" target="_blank" />
									<area shape="rect" coords="92,313,152,349" href="http://www.okbuy.com/brand/barbie" target="_blank" />
									<area shape="rect" coords="169,317,238,347" href="http://www.okbuy.com/brand/winne%20the%20pooh" target="_blank" />				
								</map>
							</div>
							<!--最后列end-->
						</div>	
					<!--运动生活end-->
					</div>

					<!--休闲服饰start-->
					<div class="wrapsub close wrapsub2">
						<s class="wraparr" style="left: 364px;">◆</s>
						<div class="wrapmain">
							<!--第一列start-->
							<div class="colbox">
								<h3>精品服饰</h3>
								<div class="catewrap">
									<h3 class="black">男装</h3>
									<p class="context">
										<a href="http://www.okbuy.com/shoe/49" target="_blank">跑步鞋</a>
										<a href="http://www.okbuy.com/shoe/62" target="_blank">复古鞋</a>
										<a href="http://www.okbuy.com/shoe/319" target="_blank">休闲鞋</a>
										<a href="http://www.okbuy.com/shoe/57" target="_blank">帆布鞋</a>
										<a href="http://www.okbuy.com/shoe/55" target="_blank">板鞋</a>
										<a href="http://www.okbuy.com/shoe/55" target="_blank">运动生活系列</a>
										<a href="http://www.okbuy.com/shoe/65" target="_blank">滑板鞋</a>
										<a href="http://www.okbuy.com/shoe/52" target="_blank">篮球鞋</a>
										<a href="http://www.okbuy.com/shoe/56" target="_blank">凉鞋/凉拖</a>
										<a href="http://www.okbuy.com/shoe/316" target="_blank">健步鞋</a>
									</p>
								</div>
								<div class="catewrap">
									<h3 class="black">女装</h3>
									<p class="context">
										<a class="cateitem" href="http://www.okbuy.com/clothes/401" target="_blank">夹克/外套</a>
										<a class="cateitem" href="http://www.okbuy.com/clothes/400" target="_blank">卫衣</a>
										<a class="cateitem" href="http://www.okbuy.com/clothes/71" target="_blank">棉服</a>
										<a class="cateitem" href="http://www.okbuy.com/clothes/398" target="_blank">羽绒服</a>
										<a class="cateitem" href="http://www.okbuy.com/clothes/313" target="_blank">长裤</a>
									</p>
								</div>
								<div class="catewrap">
									<h3 class="black">户外</h3>
									<p class="context">
										<a href="http://www.okbuy.com/shoe/285" target="_blank">运动鞋</a>
										<a href="http://www.okbuy.com/shoe/282" target="_blank">休闲鞋</a>
										<a href="http://www.okbuy.com/shoe/427" target="_blank">跑步鞋</a>
										<a href="http://www.okbuy.com/shoe/428" target="_blank">篮球鞋</a>
										<a href="http://www.okbuy.com/shoe/283" target="_blank">童靴</a>
										<a href="http://www.okbuy.com/clothes/286" target="_blank">童装</a>
									</p>
								</div>
							</div>
							<!--第一列end-->
							<!--第二列start-->
							<div class="colbox">
								<h3>鞋靴包配</h3>
								<div class="catewrap catewidth">
									<h3 class="black">鞋靴</h3>
									<div class="context">
										<a href="http://www.okbuy.com/clothes/397/else-ordv3-34v534" target="_blank">T恤</a>
										<a href="http://www.okbuy.com/search?top_key=%E5%A4%96%E5%A5%97&sort=sale_date_desc&category_second_id=70" target="_blank">外套</a>
										<a href="http://www.okbuy.com/search?top_key=%E5%B0%8F%E8%84%9A&sort=sale_date_desc&category_third_id=313" target="_blank">收腿运动裤</a>
										<a href="http://www.okbuy.com/search?top_key=superstar&category_second_id=48" target="_blank">贝壳头</a>
										<a href="http://www.okbuy.com/search?top_key=%E5%B0%8F%E6%A4%B0%E5%AD%90&category_second_id=48" target="_blank">小椰子</a>
									</div>
								</div>
					
								<div class="catewrap catewidth">
									<h3 class="black">包配</h3>
									<div class="context">
										<a href="http://www.okbuy.com/shoe/49/else-ordv3" target="_blank">跑步鞋品</a>
										<a href="http://www.okbuy.com/search?top_key=boost&sort=sale_date_desc&brand_id=2&category_third_id=49" target="_blank">BOOST</a>
										<a href="http://www.okbuy.com/search?top_key=ZOOM&sort=sale_date_desc&category_third_id=49" target="_blank">ZOOM</a>
										<a href="http://www.okbuy.com/search?top_key=free&sort=sale_date_desc&category_third_id=49" target="_blank">Free</a>
										<a href="http://www.okbuy.com/search?top_key=lunar&sort=sale_date_desc&category_third_id=49" target="_blank">Lunar</a>
										<a href="http://www.okbuy.com/search?top_key=%E5%BC%A7&sort=sale_date_desc&category_third_id=49" target="_blank">李宁弧</a>
										<a href="http://www.okbuy.com/search?top_key=%E4%BA%91&sort=sale_date_desc&category_third_id=49" target="_blank">李宁云</a>
									</div>
								</div>
								<div class="catewrap catewidth">
									<h3 class="black">家居</h3>
									<div class="context">
										<a href="http://www.okbuy.com/search?top_key=%E7%AF%AE%E7%90%83&ref=input" target="_blank">篮球系列</a>
										<a href="http://www.okbuy.com/shoe/52" target="_blank">球鞋</a>
										<a href="http://www.okbuy.com/search?top_key=%E7%AF%AE%E7%90%83%E8%83%8C%E5%BF%83&category_second_id=70" target="_blank">背心</a>
										<a href="http://www.okbuy.com/search?top_key=%E7%AF%AE%E7%90%83&category_third_id=312" target="_blank">短裤</a>
										<a href="http://www.okbuy.com/search?top_key=%E7%AF%AE%E7%90%83&category_third_id=402" target="_blank">套装</a>
										<a href="http://www.okbuy.com/search?top_key=%E6%8A%A4%E5%85%B7&brand_id=1%2C4%2C1079%2C2" target="_blank">护具</a>
									</div>
								</div>
							</div>
							<!--第二列end-->
							<!--最后列start-->
							<div class="colBrand">
								<h3>品牌导购</h3>
								<img src="../../picture/89d23277783c606c3835ec7833c80c5f.png" width="242" height="349" border="0" usemap="#MapYunDong" />
								<map name="MapYunDong" id="MapYunDong">	
									<area shape="rect" coords="89,97,151,136" href="http://www.okbuy.com/brand/converse" target="_blank" />
									<area shape="rect" coords="7,97,65,131" href="http://www.okbuy.com/brand/adidas%20neo" target="_blank" />
									<area shape="rect" coords="164,97,230,133" href="http://www.okbuy.com/brand/mizuno" target="_blank" />
									<area shape="rect" coords="6,49,64,89" href="http://www.okbuy.com/brand/adidas%20originals" target="_blank" />
									<area shape="rect" coords="86,51,150,89" href="http://www.okbuy.com/brand/puma" target="_blank" />
		
									<area shape="rect" coords="160,48,231,86" href="http://www.okbuy.com/brand/new%20balance" target="_blank" />
									<area shape="rect" coords="162,5,229,43" href="http://www.okbuy.com/brand/lining" target="_blank" />
									<area shape="rect" coords="87,3,141,38" href="http://www.okbuy.com/brand/adidas" target="_blank" />
									<area shape="rect" coords="6,4,61,40" href="http://www.okbuy.com/brand/nike" target="_blank" />
									<area shape="rect" coords="10,142,65,174" href="http://www.okbuy.com/brand/onitsuka+tiger" target="_blank" />
									<area shape="rect" coords="93,145,152,184" href="http://www.okbuy.com/brand/skechers%20sport" target="_blank" />
									<area shape="rect" coords="166,144,229,180" href="http://www.okbuy.com/brand/anta" target="_blank" />
									<area shape="rect" coords="7,187,68,221" href="http://www.okbuy.com/brand/pony" target="_blank" />
									<area shape="rect" coords="90,192,154,224" href="http://www.okbuy.com/brand/vans" target="_blank" />
									<area shape="rect" coords="166,191,230,226" href="http://www.okbuy.com/brand/asics" target="_blank" />
									<area shape="rect" coords="7,229,67,266" href="http://www.okbuy.com/brand/k-bird" target="_blank" />
									<area shape="rect" coords="89,234,158,265" href="http://www.okbuy.com/brand/vansydical" target="_blank" />
									<area shape="rect" coords="168,233,227,271" href="http://www.okbuy.com/brand/qiaodan" target="_blank" />
									<area shape="rect" coords="6,277,66,307" href="http://www.okbuy.com/brand/deerway" target="_blank" />
									<area shape="rect" coords="91,270,159,310" href="http://www.okbuy.com/brand/abc" target="_blank" />
									<area shape="rect" coords="167,282,232,311" href="http://www.okbuy.com/brand/hongxingerke" target="_blank" />
									<area shape="rect" coords="2,314,64,342" href="http://www.okbuy.com/brand/dc" target="_blank" />
									<area shape="rect" coords="92,313,152,349" href="http://www.okbuy.com/brand/barbie" target="_blank" />
									<area shape="rect" coords="169,317,238,347" href="http://www.okbuy.com/brand/winne%20the%20pooh" target="_blank" />				
								</map>
							</div>
							<!--最后列end-->
						</div>	
					<!--休闲服饰end-->
					</div>

					<!--男女名鞋start-->
					<div class="wrapsub close wrapsub3">
						<s class="wraparr" style="left: 464px;">◆</s>
						<div class="wrapmain">
							<!--第一列start-->
							<div class="colbox">
								<h3>男鞋</h3>
								<div class="catewrap">
									<h3 class="black">男装</h3>
									<p class="context">
										<a href="http://www.okbuy.com/shoe/49" target="_blank">跑步鞋</a>
										<a href="http://www.okbuy.com/shoe/62" target="_blank">复古鞋</a>
										<a href="http://www.okbuy.com/shoe/319" target="_blank">休闲鞋</a>
										<a href="http://www.okbuy.com/shoe/57" target="_blank">帆布鞋</a>
										<a href="http://www.okbuy.com/shoe/55" target="_blank">板鞋</a>
										<a href="http://www.okbuy.com/shoe/55" target="_blank">运动生活系列</a>
										<a href="http://www.okbuy.com/shoe/65" target="_blank">滑板鞋</a>
										<a href="http://www.okbuy.com/shoe/52" target="_blank">篮球鞋</a>
										<a href="http://www.okbuy.com/shoe/56" target="_blank">凉鞋/凉拖</a>
										<a href="http://www.okbuy.com/shoe/316" target="_blank">健步鞋</a>
									</p>
								</div>
								<div class="catewrap">
									<h3 class="black">女装</h3>
									<p class="context">
										<a class="cateitem" href="http://www.okbuy.com/clothes/401" target="_blank">夹克/外套</a>
										<a class="cateitem" href="http://www.okbuy.com/clothes/400" target="_blank">卫衣</a>
										<a class="cateitem" href="http://www.okbuy.com/clothes/71" target="_blank">棉服</a>
										<a class="cateitem" href="http://www.okbuy.com/clothes/398" target="_blank">羽绒服</a>
										<a class="cateitem" href="http://www.okbuy.com/clothes/313" target="_blank">长裤</a>
									</p>
								</div>
								<div class="catewrap">
									<h3 class="black">户外</h3>
									<p class="context">
										<a href="http://www.okbuy.com/shoe/285" target="_blank">运动鞋</a>
										<a href="http://www.okbuy.com/shoe/282" target="_blank">休闲鞋</a>
										<a href="http://www.okbuy.com/shoe/427" target="_blank">跑步鞋</a>
										<a href="http://www.okbuy.com/shoe/428" target="_blank">篮球鞋</a>
										<a href="http://www.okbuy.com/shoe/283" target="_blank">童靴</a>
										<a href="http://www.okbuy.com/clothes/286" target="_blank">童装</a>
									</p>
								</div>
							</div>
							<!--第一列end-->
							<!--第二列start-->
							<div class="colbox">
								<h3>女鞋</h3>
								<div class="catewrap catewidth">
									<h3 class="black">鞋靴</h3>
									<div class="context">
										<a href="http://www.okbuy.com/clothes/397/else-ordv3-34v534" target="_blank">T恤</a>
										<a href="http://www.okbuy.com/search?top_key=%E5%A4%96%E5%A5%97&sort=sale_date_desc&category_second_id=70" target="_blank">外套</a>
										<a href="http://www.okbuy.com/search?top_key=%E5%B0%8F%E8%84%9A&sort=sale_date_desc&category_third_id=313" target="_blank">收腿运动裤</a>
										<a href="http://www.okbuy.com/search?top_key=superstar&category_second_id=48" target="_blank">贝壳头</a>
										<a href="http://www.okbuy.com/search?top_key=%E5%B0%8F%E6%A4%B0%E5%AD%90&category_second_id=48" target="_blank">小椰子</a>
									</div>
								</div>
					
								<div class="catewrap catewidth">
									<h3 class="black">包配</h3>
									<div class="context">
										<a href="http://www.okbuy.com/shoe/49/else-ordv3" target="_blank">跑步鞋品</a>
										<a href="http://www.okbuy.com/search?top_key=boost&sort=sale_date_desc&brand_id=2&category_third_id=49" target="_blank">BOOST</a>
										<a href="http://www.okbuy.com/search?top_key=ZOOM&sort=sale_date_desc&category_third_id=49" target="_blank">ZOOM</a>
										<a href="http://www.okbuy.com/search?top_key=free&sort=sale_date_desc&category_third_id=49" target="_blank">Free</a>
										<a href="http://www.okbuy.com/search?top_key=lunar&sort=sale_date_desc&category_third_id=49" target="_blank">Lunar</a>
										<a href="http://www.okbuy.com/search?top_key=%E5%BC%A7&sort=sale_date_desc&category_third_id=49" target="_blank">李宁弧</a>
										<a href="http://www.okbuy.com/search?top_key=%E4%BA%91&sort=sale_date_desc&category_third_id=49" target="_blank">李宁云</a>
									</div>
								</div>
								<div class="catewrap catewidth">
									<h3 class="black">家居</h3>
									<div class="context">
										<a href="http://www.okbuy.com/search?top_key=%E7%AF%AE%E7%90%83&ref=input" target="_blank">篮球系列</a>
										<a href="http://www.okbuy.com/shoe/52" target="_blank">球鞋</a>
										<a href="http://www.okbuy.com/search?top_key=%E7%AF%AE%E7%90%83%E8%83%8C%E5%BF%83&category_second_id=70" target="_blank">背心</a>
										<a href="http://www.okbuy.com/search?top_key=%E7%AF%AE%E7%90%83&category_third_id=312" target="_blank">短裤</a>
										<a href="http://www.okbuy.com/search?top_key=%E7%AF%AE%E7%90%83&category_third_id=402" target="_blank">套装</a>
										<a href="http://www.okbuy.com/search?top_key=%E6%8A%A4%E5%85%B7&brand_id=1%2C4%2C1079%2C2" target="_blank">护具</a>
									</div>
								</div>
							</div>
							<!--第二列end-->
							<!--最后列start-->
							<div class="colBrand">
								<h3>品牌导购</h3>
								<img src="../../picture/89d23277783c606c3835ec7833c80c5f.png" width="242" height="349" border="0" usemap="#MapYunDong" />
								<map name="MapYunDong" id="MapYunDong">	
									<area shape="rect" coords="89,97,151,136" href="http://www.okbuy.com/brand/converse" target="_blank" />
									<area shape="rect" coords="7,97,65,131" href="http://www.okbuy.com/brand/adidas%20neo" target="_blank" />
									<area shape="rect" coords="164,97,230,133" href="http://www.okbuy.com/brand/mizuno" target="_blank" />
									<area shape="rect" coords="6,49,64,89" href="http://www.okbuy.com/brand/adidas%20originals" target="_blank" />
									<area shape="rect" coords="86,51,150,89" href="http://www.okbuy.com/brand/puma" target="_blank" />
		
									<area shape="rect" coords="160,48,231,86" href="http://www.okbuy.com/brand/new%20balance" target="_blank" />
									<area shape="rect" coords="162,5,229,43" href="http://www.okbuy.com/brand/lining" target="_blank" />
									<area shape="rect" coords="87,3,141,38" href="http://www.okbuy.com/brand/adidas" target="_blank" />
									<area shape="rect" coords="6,4,61,40" href="http://www.okbuy.com/brand/nike" target="_blank" />
									<area shape="rect" coords="10,142,65,174" href="http://www.okbuy.com/brand/onitsuka+tiger" target="_blank" />
									<area shape="rect" coords="93,145,152,184" href="http://www.okbuy.com/brand/skechers%20sport" target="_blank" />
									<area shape="rect" coords="166,144,229,180" href="http://www.okbuy.com/brand/anta" target="_blank" />
									<area shape="rect" coords="7,187,68,221" href="http://www.okbuy.com/brand/pony" target="_blank" />
									<area shape="rect" coords="90,192,154,224" href="http://www.okbuy.com/brand/vans" target="_blank" />
									<area shape="rect" coords="166,191,230,226" href="http://www.okbuy.com/brand/asics" target="_blank" />
									<area shape="rect" coords="7,229,67,266" href="http://www.okbuy.com/brand/k-bird" target="_blank" />
									<area shape="rect" coords="89,234,158,265" href="http://www.okbuy.com/brand/vansydical" target="_blank" />
									<area shape="rect" coords="168,233,227,271" href="http://www.okbuy.com/brand/qiaodan" target="_blank" />
									<area shape="rect" coords="6,277,66,307" href="http://www.okbuy.com/brand/deerway" target="_blank" />
									<area shape="rect" coords="91,270,159,310" href="http://www.okbuy.com/brand/abc" target="_blank" />
									<area shape="rect" coords="167,282,232,311" href="http://www.okbuy.com/brand/hongxingerke" target="_blank" />
									<area shape="rect" coords="2,314,64,342" href="http://www.okbuy.com/brand/dc" target="_blank" />
									<area shape="rect" coords="92,313,152,349" href="http://www.okbuy.com/brand/barbie" target="_blank" />
									<area shape="rect" coords="169,317,238,347" href="http://www.okbuy.com/brand/winne%20the%20pooh" target="_blank" />				
								</map>
							</div>
							<!--最后列end-->
						</div>	
					<!--休闲服饰end-->
					</div>
				</div>	
			</div>
		</div>

		<!--轮播图-->
		<div class="swiper-container">
			<div class="swiper-wrapper">
				<div class="swiper-slide" style="background-image:url(../../images/9bdb541c5f8e55bc1c60c7ab01f2d48d.jpg);">
					<div class="w1200">
						<a href="http://www.okbuy.com/topic/show/85940" target="_blank" class="promLink"></a>
				   	</div>
			    </div>
			    <div class="swiper-slide" style="background-image:url(../../images/f824db79c52a0c35922331824483b688.png);">
				    <div class="w1200">
						<a href="http://www.okbuy.com/topic/show/85799" target="_blank" class="promLink"></a>
				    </div>
			    </div>
			    <div class="swiper-slide" style="background-image:url(../../images/381a16700caa66a9c7d86e2016b4f102.jpg);">
				    <div class="w1200"> 
						<a href="http://www.okbuy.com/topic/show/85688" target="_blank" class="promLink"></a>
				    </div>
				</div>
				<div class="swiper-slide" style="background-image:url(../../images/232ef065847038533529d4ce1032726a.jpg);">
					<div class="w1200">
						 <a href="http://www.okbuy.com/topic/show/85681" target="_blank" class="promLink"></a>
					</div>
				</div>
				<div class="swiper-slide" style="background-image:url(../../images/56830253828dc3ac0a98b5bce6e90ee7.jpg);">
					<div class="w1200">
						 <a href="http://www.okbuy.com/topic/show/85761" target="_blank" class="promLink"></a>
					</div>
				</div>
				<div class="swiper-slide" style="background-image:url(../../images/55b208489bd315efcd4f7991cbcd0ff5.jpg);">
					<div class="w1200">
						 <a href="http://www.okbuy.com/topic/show/85687" target="_blank" class="promLink"></a>
					</div>
				</div>
				<div class="swiper-slide" style="background-image:url(../../images/6fe027d30120a87e80f2505c3214d785.jpg);">
					<div class="w1200">
						 <a href="http://www.okbuy.com/topic/show/85680" target="_blank" class="promLink"></a>
					</div>
				</div>   
			</div> 
			<div class="swiper-pagination"></div>
			<img src="../../picture/8279506eec1b47bc61c04ed0532cfcba.png" class="ad">
			<div id="btn1" class="swiper-button-prev swiper-button" style="background: url(http://localhost:9999/images/slideconcroll.png) no-repeat 0 0;"></div>
   			<div id="btn2" class="swiper-button-next swiper-button" style="background: url(http://localhost:9999/images/slideconcroll.png) no-repeat -22px 0;"></div>
		</div>

		<div class="brand">
			<div class="w1200">
				<img src="http://localhost:9999/picture/ad_5.png" alt="">
				<div class="brandin">
						<a href="http://www.okbuy.com/brand/nike" target="_blank" title="NIKE童装"><img src="../../picture/15a959617cb0dc7802db41d93c758923.jpg" alt="NIKE童装" ></a>
						<a href="http://www.okbuy.com/brand/adidas" target="_blank" title="阿迪达斯"><img src="../../picture/79ee9f430dfd13b990cd211547525441.jpg" alt="阿迪达斯" ></a>
						<a href="http://www.okbuy.com/brand/lining" target="_blank" title="李宁"><img src="../../picture/14ff119a643db529a889fd00d59b8776.jpg" alt="李宁" ></a>
						<a href="http://www.okbuy.com/brand/adidas%20originals" target="_blank" title="三叶草"><img src="../../picture/16cf682b4218e862a84901163ca7409b.jpg" alt="三叶草" ></a>
						<a href="http://www.okbuy.com/brand/adidas%20neo?category=67" target="_blank" title="Adidas NEO"><img src="../../picture/50914de9daeb0112a84387487d4a4b24.png" alt="Adidas NEO" ></a>
						<a href="http://www.okbuy.com/brand/puma" target="_blank" title="Puma"><img src="../../picture/882b650945cc0264422fc09e0c8a4e77.png" alt="Puma" ></a>
						<a href="http://www.okbuy.com/brand/vans" target="_blank" title="Vans"><img src="../../picture/f547ea4d87384d7b464c42837a86f3d6.png" alt="Vans" ></a>
						<a href="http://www.okbuy.com/brand/new%20balance" target="_blank" title="NEW BALANCE"><img src="../../picture/c0a5a52354ba4fb3e2911a4e620484da.png" alt="NEW BALANCE" ></a>
						<a href="http://www.okbuy.com/brand/onitsuka+tiger" target="_blank" title="鬼冢虎"><img src="../../picture/7b27eb5791e0ec5d57f6f55338ba7a46.jpg" alt="鬼冢虎" ></a>
						<a href="http://www.okbuy.com/brand/pony" target="_blank" title="PONY"><img src="../../picture/f6af692066b79acb89720d492947b942.jpg" alt="PONY" ></a>
						<a href="http://www.okbuy.com/brand/converse" target="_blank" title="匡威"><img src="../../picture/5b53b64d19d31fba4870396f5a6f3f15.jpg" alt="匡威" ></a>
						<a href="http://www.okbuy.com/brand/skechers%20sport" target="_blank" title="斯凯奇运动系列"><img src="../../picture/1e6f566aafea24d22f0f17d682cbbdd2.png" alt="斯凯奇运动系列" ></a>
						<a href="http://www.okbuy.com/brand/toread?category=67" target="_blank" title="探路者"><img src="../../picture/f673179e4b8f01876419bd95cc4b069a.jpg" alt="探路者" ></a>
						<a href="http://www.okbuy.com/brand/timberland" target="_blank" title="添柏岚"><img src="../../picture/fe6db391378a9cf13cebb09ac606ad43.png" alt="添柏岚" ></a>
						<a href="http://www.okbuy.com/brand/the+north+face?category=67" target="_blank" title="乐斯菲斯"><img src="../../picture/742933f52cb762a70272e56e6fceb7af.jpg" alt="乐斯菲斯" ></a>
						<a href="http://www.okbuy.com/brand/newlook" target="_blank" title="NEWLOOK"><img src="../../picture/d9ddc28c835067e83805a7388959fd8b.png" alt="NEWLOOK" ></a>
						<a href="http://www.okbuy.com/brand/metersbonwe" target="_blank" title="美特斯邦威metersbonwe"><img src="../../picture/b56fca1880bfc762c80a8dc0755c0170.png" alt="美特斯邦威metersbonwe" ></a>
						<a href="http://www.okbuy.com/brand/semir?category=67" target="_blank" title="森马"><img src="../../picture/2417b5ba04152d39f2731e005c61b608.png" alt="森马" ></a>
						<a href="http://www.okbuy.com/brand/etam" target="_blank" title="艾格ETAM"><img src="../../picture/3e2009a8ae0e485e204bcec29014c1c4.jpg" alt="艾格ETAM" ></a>
						<a href="http://www.okbuy.com/brand/betu" target="_blank" title="betu/百图"><img src="../../picture/e110d249fddc9e3981cd44825f86d66b.png" alt="betu/百图" ></a>
						<a href="http://www.okbuy.com/brand/lagogo" target="_blank" title="lagogo"><img src="../../picture/e198a5ae2c21ff53220ba5749b574af9.png" alt="lagogo" ></a>
						<a href="http://www.okbuy.com/brand/dickies?category=67" target="_blank" title="Dickies"><img src="../../picture/a91be932851aae4c33ef7daafa0b6f37.png" alt="Dickies" ></a>
						<a href="http://www.okbuy.com/brand/boy%20london" target="_blank" title="Boy London"><img src="../../picture/77d1ae21549ca89ebb91e24cb5dcf366.png" alt="Boy London" ></a>
						<a href="http://www.okbuy.com/brand/champion" target="_blank" title="Champion"><img src="../../picture/a3fefd0d16cb44a37886cfbb149be5c7.png" alt="Champion" ></a>
						<a href="http://www.okbuy.com/brand/crocs" target="_blank" title="卡骆驰"><img src="../../picture/a62b07b87986914e495e0333ea5b6cd8.png" alt="卡骆驰" ></a>
						<a href="http://www.okbuy.com/brand/skechers" target="_blank" title="SKECHERS"><img src="../../picture/f8e5933a3aa97d2ec57be804f258e73a.png" alt="SKECHERS" ></a>
						<a href="http://www.okbuy.com/brand/camel" target="_blank" title="骆驼"><img src="../../picture/522ff5a082e2cef7e0478d0df3d33a85.png" alt="骆驼" ></a>
						<a href="http://www.okbuy.com/brand/playboy" target="_blank" title="花花公子"><img src="../../picture/175c3df16413fed88ee91ad051bd090c.jpg" alt="花花公子" ></a>
						<a href="http://www.okbuy.com/brand/fed" target="_blank" title="FED"><img src="../../picture/b2e2de252c597cdd44335ec257d9ddb9.jpg" alt="FED" ></a>
						<a href="http://www.okbuy.com/brand/st%26sat" target="_blank" title="星期六"><img src="../../picture/c58ee447acc81b2a6cda8550dccdf63f.jpg" alt="星期六" ></a>
						<a href="http://www.okbuy.com/brand/mulinsen" target="_blank" title="木林森"><img src="../../picture/7b3c6824f219711181eab764be85e29d.png" alt="木林森" ></a>
						<a href="http://www.okbuy.com/brand/fuguiniao" target="_blank" title="富贵鸟"><img src="../../picture/e2557f55f4a8b1f22eebfd385cee4a1b.png" alt="富贵鸟" ></a>
						<a href="http://www.okbuy.com/brand/cartelo" target="_blank" title="卡帝乐鳄鱼"><img src="../../picture/259fdac0000b587d3c939d77f558a735.jpg" alt="卡帝乐鳄鱼" ></a>
						<a href="http://www.okbuy.com/brand/pt'son?category=47&sort=sale_date_desc" target="_blank" title="百田森"><img src="../../picture/48967b65392b603ace2029658c0fe232.png" alt="百田森" ></a>
						<a href="http://www.okbuy.com/brand/cleef" target="_blank" title="Cleef"><img src="../../picture/7cb81b4c25fe2eb1c36fae8cdcd9869e.png" alt="Cleef" ></a>
						<a href="/brand/brandindex" class="allbrand"><img src="../../picture/allbrand.png" alt=""></a>
				</div>
			</div>
		</div>

		<div class="content w1200">
			<img src="http://localhost:9999/images/5f4de752d4d9b4225ce02f8649769ff0.png" alt="">
			<div class="list1">
				<ul class="list1in">
		
				</ul>
			</div>
			<img src="http://localhost:9999/picture/fg_3.png" alt="">
			<img src="http://localhost:9999/picture/7551611eae5e3028851055ed01973634.png" alt="">
			<img src="http://localhost:9999/picture/fg_3.png" alt="">
			<div class="list2">
				<ul class="list2in">
		
				</ul>
			</div>
			<div class="wrap"></div>
		</div>

		
		<div class="footer">
				
			<div class="w1200">
				<div class="footer_code">
					<div class="wx_code wx_code1">
						<img src="http://localhost:9999/picture/code_client.png" alt="">
						<p>好乐买手机客户端</p>
					</div>
					<div class="wx_code">
						<img src="http://localhost:9999/picture/code_public.jpg" alt="">
						<p>好乐买微信公众号</p>
					</div>
				</div>

				<ul class="abm">
					<li>
						<p class="abm_top">购物指南</p>
						<p><a href="http://www.okbuy.com/info/help/5" rel="nofollow">购物流程</a></p>
						<p><a href="http://www.okbuy.com/info/help/5" rel="nofollow">订购方式</a></p>
						<p><a href="http://www.okbuy.com/info/help/21" rel="nofollow">常见问题</a></p>
						<p><a href="http://www.okbuy.com/info/help/141" rel="nofollow">隐私政策</a></p>
					</li>
					<li>
						<p class="abm_top">配送方式</p>
						<p><a href="http://www.okbuy.com/info/help/16" rel="nofollow">快递配送</a></p>
						<p><a href="http://www.okbuy.com/info/help/16" rel="nofollow">配送时间</a></p>
					</li>
					<li>
						<p class="abm_top">支付方式</p>
						<p><a href="http://www.okbuy.com/info/help/9" rel="nofollow">支付方式</a></p>
						<p><a href="http://www.okbuy.com/info/help/10" rel="nofollow">代金券</a></p>
					</li>
					<li>
						<p class="abm_top">售后服务 </p>
						<p><a href="http://www.okbuy.com/info/help/23" rel="nofollow">退换货政策</a></p>
						<p><a href="http://www.okbuy.com/info/help/24" rel="nofollow">退款说明</a></p>
						<p><a href="http://www.okbuy.com/info/help/22" rel="nofollow">联系客服</a></p>
					</li>
				</ul>
				
				<div class="footer_logo">
					<a href="https://www.alipay.com/"><img src="../../picture/okbuy1-03.png" alt="支付宝特约商家"></a>
					<a href="http://bj429.com.cn"><img src="../../picture/okbuy1-05.png" alt=""></a>
					<a href="http://www.okbuy.com/info/beian"><img src="../../picture/902c39b52902b3bd4ab500babad4e14a.png" alt="" style="border:1px solid #ccc"></a>
					<a href="http://about.58.com/fqz/index.html?utm_source=market&spm=b-31580022738699-pe-f-829.hao360_101&qq-pf-to=pcqq.c2c"><img src="../../picture/bjwj.jpg"></a>
				</div>

				<ul class="footer_txt">
					<li><a href="">公司介绍</a><span>"|"</span></li>
					<li><a href="">加入我们</a><span>"|"</span></li>
					<li><a href="">联系我们</a><span>"|"</span></li>
					<li><a href="">友情链接</a><span>"|"</span></li>
				</ul>
			</div>
			<div class="bt">天津好乐买信息技术有限公司    Copyright &copy; 2007-2019 OkBuy.com All Rights Reserved&emsp;<a href="http://www.miibeian.gov.cn" target="_blank" rel="nofollow">津ICP备16005872号-1</a>&emsp;京公网安备110105006859 &emsp; 客服电话：400-8610-400 </div>
						
		</div>

		<div class="gotoTop close">
			<a href="#" class="top"></a>
			<a href="" class="feed"></a>
		</div>	



	</body>
	<script src="../../scripts/MyTemplate.js" type="text/javascript" charset="utf-8"></script>
	
	<script id="temp_product1" type="text/html">	
		<li>
			<% for(let i=0; i<data.res.length; i++) { %>
				<a href="<%=data.res[i].link%>">
					<img src="<%=data.res[i].img%>" alt="">
					<span class="tit1"><%=data.res[i].title%></span>
					<span class="tit2"><%=data.res[i].slogan%></span>
					<span class="tit3"><%=data.res[i].discount%></span>
					
					<span class="tit4">
						
						<i class="day"><%=parseInt((new Date(data.res[i].endtime).getTime() - new Date().getTime())/(1000*3600*24))%></i>天
						<i class="hour"><%=parseInt((new Date(data.res[i].endtime).getTime() - new Date().getTime())%(1000*3600*24) / (1000*3600))%></i>时
						<i class="minute"><%=parseInt((new Date(data.res[i].endtime).getTime() - new Date().getTime())%(1000*3600) / (1000*60))%></i>分
						<i class="second"><%=parseInt((new Date(data.res[i].endtime).getTime() - new Date().getTime())%(60*1000)/1000)%></i>秒
						<i class="fsecond"><%=parseInt((new Date(data.res[i].endtime).getTime() - new Date().getTime())%1000/100)%></i>
						
					</span>
					
				</a>
			<%}%>
		</li>	
	</script>

	<script id="temp_product2" type="text/html">	
		<li>
			<% for(let i=0; i<data.res.length; i++) { %>
				<a href="<%=data.res[i].link%>">
					<img src="<%=data.res[i].img%>" alt="">
					<p class="tit5">
							<%=data.res[i].title%>
						<span class="tit6"><%=data.res[i].slogan%></span>	
					</p>
					<span class="tit7">
						<i class="day"><%=parseInt((new Date(data.res[i].endtime).getTime() - new Date().getTime())/(1000*3600*24))%></i>天
						<i class="hour"><%=parseInt((new Date(data.res[i].endtime).getTime() - new Date().getTime())%(1000*3600*24) / (1000*3600))%></i>时
						<i class="minute"><%=parseInt((new Date(data.res[i].endtime).getTime() - new Date().getTime())%(1000*3600) / (1000*60))%></i>分
						<i class="second"><%=parseInt((new Date(data.res[i].endtime).getTime() - new Date().getTime())%(60*1000)/1000)%></i>秒
						<i class="fsecond"><%=parseInt((new Date(data.res[i].endtime).getTime() - new Date().getTime())%1000/100)%></i>	
					</span>	
				</a>
			<%}%>
		</li>	
	</script>

	<script>
			//首页模板1
			let list1 = document.getElementsByClassName("list1in")[0];

			let xhr1 = new XMLHttpRequest();
			xhr1.open("get", "http://localhost:9090/product1");
			xhr1.onload = function(){
			let data = JSON.parse(xhr1.response);
			setInterval(() => {
				let str = template("temp_product1", data);
				list1.innerHTML = str;
			}, 100);
			
			}
			xhr1.send();

			//首页模板2
			let list2 = document.getElementsByClassName("list2in")[0];

			let xhr2 = new XMLHttpRequest();
			xhr2.open("get", "http://localhost:9090/product2");
			xhr2.onload = function(){
			let data = JSON.parse(xhr2.response);
			//let str = template("temp_product2", data);
			//list2.innerHTML = str;
			//console.log(data);
			setInterval(() => {
				let str = template("temp_product2", data);
				list2.innerHTML = str;
			}, 100);
			}
			xhr2.send();
	</script>



</html>
